.container-fluid {
  padding: 0 50px !important;
  max-width: 1300px;
}

.navbar {
  margin-bottom: 70px !important;
  padding: 15px 0 !important;
}

.navbar a {
  text-decoration: none;
}

.topics-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 70px;
  padding: 0;
}

.card-text {
  font-weight: 700;
}

.card-body {
  text-align: center;
}

.title-desc {
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}